# Homework 1: Introduction to Machine Learning

### Q1: Pandas Version

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

## Getting the Data

In [22]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-10-02 08:49:25--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: 'laptops.csv.1'

laptops.csv.1       100%[===================>] 291.58K  --.-KB/s    in 0.03s

2024-10-02 08:49:26 (8.40 MB/s) - 'laptops.csv.1' saved [298573/298573]

In [89]:
df = pd.read_csv('laptops.csv')
pd.read_csv('laptops.csv')

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

### Q2: Records Count

#### How many records are in the dataset ?

In [38]:
total_count_of_records = len(df)
print(total_count_of_records)

2160

### Q3: Laptop Brands

#### How many laptop brands are presented in the dataset?

In [45]:
num_of_laptop_brands = df['Brand'].nunique()
print(num_of_laptop_brands)

27

### Q4: Missing Values

#### How many columns in the dataset have missing values ?

In [53]:
missing_values = df.isnull().any()
print(missing_values)

Laptop          False
Status          False
Brand           False
Model           False
CPU             False
RAM             False
Storage         False
Storage type     True
GPU              True
Screen           True
Touch           False
Final Price     False
dtype: bool

### Q5. Maximum final price

##### What's the maximum final price of Dell notebooks in the dataset ?

In [101]:
dell_laptop_brand = df[df['Brand'] == 'Dell']
max_final_price = dell_laptop_brand['Final Price'].max()
print(max_final_price)

3936.0

### Q6. Median value of Screen

* Find the median value of Screen column in the dataset.
* Next, calculate the most frequent value of the same Screen column.
* Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
* Now, calculate the median value of Screen once again.

  #### Has it changed ?

In [91]:
median_value_of_screen = df['Screen'].median()
print(median_value_of_screen)

15.6

In [71]:
count_of_each_value = df.mode().iloc[0].to_dict()
print(count_of_each_value['Screen'])

15.6

In [96]:
filled_missing_screen_values = df['Screen'].fillna(15.6)
print(filled_missing_screen_values.median())

15.6

No, it has not changed.

### Q7. Sum of weights

* Select all the "Innjoo" laptops from the dataset.
* Select only columns RAM, Storage, Screen.
* Get the underlying NumPy array. Let's call it X.
* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
* Compute the inverse of XTX.
* Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
* Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
* What's the sum of all the elements of the result?

In [109]:
import pandas as pd
import numpy as np

data = pd.read_csv('laptops.csv')
innjoo_laptops = data[data['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]


X = innjoo_laptops.values
XTX = np.dot(X.T,X)
XTX_inv = np.linalg.inv(XTX)
y= np.array([1100, 1300, 800, 900, 1000, 1100])
w= np.dot(np.dot(XTX_inv, X.T),y)
sum_w = np.sum(w)
print(sum_w)

91.2998806299557